@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    pointer-events: none;
    mask: radial-gradient(circle 300px at var(--x, 50%) var(--y, 50%), rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    -webkit-mask: radial-gradient(circle 300px at var(--x, 50%) var(--y, 50%), rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

body {
    background-color: #093d9d;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

#middleText {
    margin-top: 8vh;
}

#middleText .dynmap {
    width: 100%;
    height: 92vh;
}

#middleText .middleText {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
    color: white;
}

#middleText .collapsiblesection {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 25px;
    justify-content: flex-start;
    color: white;
}

#middleText h1 {
    display: block;
    width: fit-content;
    font-size: 7rem;
    position: relative;
    height: fit-content;
}

h1:first-child {
    color: white;
}

h1:nth-child(2) {
    color: #F9F871;
    font-weight: 500;
}

a {
    color: white;
    text-decoration: underline;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid;
}

th, td {
    border: 1px solid;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    width: 20%;
}

.downloadbutton {
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.downloadtable th, td {
    width: 150px;
}

.collapsible {
    background-color: rgba(31, 30, 30, 0.24);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.collapsible:hover {
    color: #F9F871;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0 0px;
        width: 100%;
    }

    #middleText .collapsiblesection {
        padding: 0 0px;
        padding-top: 25px;

    }

    td, th {
        font-size: 12px;
        padding: 0;
        overflow-wrap: break-word;
    }

    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    .downloadtable th,td {
        width: 100%;
    }

    .downloadtable {
        width: 100vw;
    }

    .downloadbutton {
        font-size: 12px;
    }

    #middleText h1 {
        font-size: 36px;
        text-align:center;
        display:table;
        width:100%;
    }
    #middleText .middleText {
        padding: 0 0px;
    }

    #middleText .dynmap {
        position: fixed;
        width: 100vw;
        top: 8vh;
        bottom: 0;
    }
}
