/* Form for uploading images */
#upload-form {
    text-align: center;
}

/* Style for the fixed footer */
.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    border-top: 1px solid #ddd;
    z-index: 100;
}

.site-footer input {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    /* Blue color */
    color: #fff;
    /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    font-size: 16px;
    font-weight: bold;
}

.site-footer input:hover {
    background-color: #0056b3;
    /* Darker blue color on hover */
    transform: scale(1.05);
    /* Slight scale-up effect on hover */
}